/**
  * Just to give you some idea about how the bundle is generated!
  * Feel free to customise/remove as per your requirements!
  */

.css-main1 {
  color: #FF6978;
  font-size: 20px;
}

.css-main1:hover .highlight {
  font-weight: bold;
}

/**
  * Some global styles to make the demo looks good!
  * Feel free to customise/remove as per your requirements!
  */

html {
  height: 100vh;
}

body {
  background: #353d3e;
  color: #ADC480;
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
main,
footer {
  padding: 2rem;
  text-align: center;
}

a:link,
a:visited {
  color: #C9F0FF;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  background-color: #353d3e;
  border: 1px dashed salmon;
  color: #ADC480;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.button:hover {
  box-shadow: 0 4px 24px 0 rgba(255, 255, 255, 0.25), 0 0px 24px 0 rgba(255, 255, 255, .2);
  background-color: #ADC480;
  color: #353d3e;
  border: none;
}

.button:hover .highlight {
  font-weight: bold;
}

.parent1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.box1 {
  border: 1px dashed salmon;
  padding: 30px;
  margin: 10px;
  border-radius: 60px;
  word-wrap: break-word;
}

.parent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box2 {
  flex: 1 1 150px;
  margin: 5px;
  margin-top: 100px;
}

.parent3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}