/**
  * Just to give you some idea about how the bundle is generated!
  * Feel free to customise/remove as per your requirements!
  */

.css-main1 {
  color: #FF6978;
  font-size: 20px;
}

.css-main1:hover .highlight {
  font-weight: bold;
}