/**
  * Just to give you some idea about how the bundle is generated!
  * Feel free to customise/remove as per your requirements!
  */

$blue: #3891A6;

.scss-main1 {
  color: $blue;
  font-size: 20px;
}

.scss-main1:hover .highlight {
  font-weight: bold;
}