/**
  * Just to give you some idea about how the bundle is generated!
  * Feel free to customise/remove as per your requirements!
  */

$yellow: #FF9F1C;

.scss-main2 {
  color: $yellow;
  font-size: 20px;
}

.scss-main2:hover .highlight {
  font-weight: bold;
}